
body {
  font-family: Poppins, "sans-serrif";
  margin-left: 20px;
 
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  width: 400px;
  justify-content: space-between;
  font-size: 25px;
  position: relative;
}

.nav-item.active-item {
  color: #fe5e35;
}



.intro-section {
  display: flex;
}

/* .left-section {
  width: 800px;
  float: left;
}


.right-section {
  float: right;
} */

.discount,
.discount-content {
  position: absolute;
}

.left-section h3 {
  font-size: 30px;
}

.left-section h1 {
  font-family: Fredoka One;
  font-size: 80px;
}

.sub-headlines {
  margin-left: 50px;
  font-size: 30px;
}

h5 > img {
  background-color: #fe5e35;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  top: 10px;
}

p.text {
  margin-bottom: 50px;
  color: #7e7b7b;
}

.action-btn {
  background-color: #fe5e35;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px 30px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.right-section .action-btn {
  position: relative;
  left: 200px;
}


.left-section h1 {
  display: relative;
  top: -20px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dot {
  background-color: #fe5e35;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.dot.yellow-dot {
  background-color: #fbd104;
}

.dot.black-dot {
  background-color: #000;
}

.discount {
  top: 450px;
  right: 500px;
}

.discount-content {
  top: 450px;
  right: 530px;
  font-family: Fredoka One;
  color: #fff;
}

.discount-content h4 {
  position: relative;
  top: 40px;
  left: 10px;
}

.discount-content h1 {
  font-size: 55px;
}

@media screen and (max-width: 1100px) {
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discount {
    top: 1300px;
    right: 640px;
  }

  .discount-content h4 {
    position: relative;
    top: 890px;
    left: -125px;
  }

  
  .discount-content h1 {
    position: relative;
    font-size: 55px;
    top: 850px;
    left: -135px;
  }

  .text {
    max-width: 80%;
  }
}

@media screen and (max-width: 850px)  {
  .nav-item {
    display: none;
  }

  .left-section h1 {
    font-family: Fredoka One;
    font-size: 60px;
    text-align: center;
  }

  .sub-headlines {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
  }


}

@media screen and (max-width: 600px) {
  .headphones-img {
    width: 100%;
  }

 
  .discount {
    display: none;
  }

  .discount-content h4 {
    display: none;
  }

  
  .discount-content h1 {
    display: none;
  }

  .right-section .action-btn {
    margin: auto;
    font-size: 1rem;
  }

  .left-section .action-btns {
    display: flex;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
  }

  .intro-section {
    padding: 0;
    margin: 0;
    border: 2px solid red;
    width: 70vh;
  }
  
  .right-section .action-btn {
    position: relative;
    left: 0px;
  }

  .nav-items {
    left: 0px;
  }

  .left-section h1 {
    max-width: 60%;
  }
  
}